<section class="header">
HI,MY NAME IS...
</section>
<section class="about">
</section>
<section class="works">
</section>
<section class="skills">
</section>
<section class="contact">
</section>
<footer class="footer">
</footer>
